#s-faq {
  padding: 120px 0;

  @media screen and (max-width: 1200px) {
    padding: 40px 0px;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  h3 {
    color: $yellow-color;
    font-weight: 500;
    margin-bottom: 16px;
    font-size: 24px;
    text-align: center;
  }

  h2 {
    font-size: 48px;
    font-weight: 500;
    margin: 0 auto 56px auto;
    line-height: 120%;
    width: 70%;
    text-align: center;
    color: #fff;

    @media screen and (max-width: 1200px) {
      font-size: 32px;
      width: 100%;
    }
  }

  .faq-grid-container {
    display: flex;
    justify-content: space-between;

    gap: 32px;

    @media screen and (max-width: 1200px) {
      flex-wrap: wrap;
    }
  }

  .faq-grid {
    width: 47%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media screen and (max-width: 1200px) {
      width: 100%;
    }
  }

  .two {
    background-image: url('../img/image-faq.png');
    height: 520px;
    width: 47%;
    border-radius: 8px;
    padding: 0 48px;

    .container-two {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 40px;
      height: 100%;

      > div {
        display: flex;
        align-items: center;
        gap: 24px;

        span {
          color: #fff;

          h4, p {
            margin: 4px 0;
            font-weight: 500;
            font-size: 18px;
          }
        }
      }
    }
  }

  .faq-item {
    background-color: $grey-color;
    color: white;
    border-radius: 16px;
    padding: 32px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .faq-item.open .faq-answer {
    display: block;
  }

  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    color: white;

    span {
      color: white;
      padding-right: 24px;
    }
  }

  .toggle-btn {
    background-color: $yellow-color;
    color: $black-color;
    border: none;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 500;
    width: 48px;
    height: 48px;
    cursor: pointer;
  }

  .faq-answer {
    margin-top: 40px;
    font-size: 20px;
    color: white;
    display: none;
  }
}
